@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  outline: none;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background-color: #0B132B;
  --text-color: #ffffff;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
  --background-color: #1f1f1f;
  --text-color: #ffffff;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  height: 100%;
  width: 150px;
  transition: all 0.3s ease;
}
a:hover {
  color: #ead637;
  background-color: #242424;
}

p {
  color: whitesmoke;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.221);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.593);
  border-radius: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

scrollbar {
  width: 6px;
  height: 6px;
}

scrollbar[orient="vertical"] {
  background: rgba(255, 255, 255, 0.221);
}

scrollbar thumb {
  background: rgba(0, 0, 0, 0.593);
  border-radius: 4px;
}

scrollbar[orient="horizontal"] {
  height: 6px;
}

scrollbar thumb[orient="horizontal"] {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

textarea {
  display: block;
  box-sizing: padding-box;
  overflow: hidden;

  padding: 10px;
  width: 250px;
  font-size: 14px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(black, 0.3);
  border: 0;

  &:focus {
    border: none;
    outline: none;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  border-color: #ead637;
  background-color: #242424;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ead637;
  }
  button {
    background-color: #f9f9f9;
  }
}

.flex_row_align {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  margin: 0 auto;
  text-align: center;
}


/* Dobble Cards common style */
.card-container{
  width: 200px;
  height: 200px;
}


.cardImage {
  position: relative;
  width: 60px;
  height: 60px;
}

